*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.AppLayout {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	width: 100dvw;
}

.AppBody {
	display: flex;
	flex: 1;
}

.AppFooter {
	height: 32px;
	background: var(--bgSecondary);
	border-block-start: 1px solid var(--bgSecondaryBorder);
}
